.hello{
  display: flex;
  flex-wrap: wrap;
   justify-content: center;
  gap: 8px;
  /* background-color: #ac53ff; */
  background-image: linear-gradient(#ac53ff,blueviolet);
  /* background-image: linear-gradient(#ba8fe1, #8e59bf); */
}
 .container {
    width: 400px;
    height: 350px; 
    background-color: whitesmoke;
    margin: 20px;
    border-radius: 20px;
  }
.h2 {
  padding-left: 104px;
}
.img {
  padding-left: 68px;
  padding-top: 23px;
}
.container:hover{
  transform: scale(1.1);
}

.p {
  padding-left: 52px;
  padding-right: 52px;
}
/* ********Button******** */

.buttons {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-left: 139px;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top: 19px;
}

.buttons:hover,
.buttons:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.buttons:hover {
  transform: translateY(-1px);
}

.buttons:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
/* *************************Footer*********************************** */
.footer {
  padding: 0 20px;
  z-index: 10;
  background-color: #000;
  min-height: 298px;
  width: 100%;
  color: #fff;
  overflow: scroll;
}

.footercontent {
  width: 100%;
  display: flex;
  background-color: #000000;
  justify-content: space-around;
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 76px 0;
  height: 100%;
}

.points {
  color: #808080;
  font-size: 15px;
  font-weight: 600;
  /*    border: 1px solid white;*/
  width: 300px;
  margin: 26px 0px 10px 15px;
  /*    padding: 15px 0px 0px 0px;*/
}

.footerli {
  padding: 20px 10px 2px 0px;
}

.footerul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footerli a {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.footerli a:hover {
  font-weight: 600;
}

.points img {
  border: 2px solid #808080;
  padding: 10px;
  margin: 30px 0px 10px 57px;
  border-radius: 10px;
  transition: transform 0.5s;
}

.points img:hover {
  transform: scale(1.06);
  cursor: pointer;
}
/* ************************************************************ */
